@layer components {

  .gh-btn i {
    font-size: 18px;
  }

  .gh-back i {
    font-size: 16px;
  }

  .gh-big-ic i {
    font-size: 30px;
  }

  .gh-close i {
    font-size: 14px;
  }

  .gh-nl i {
    font-size: 18px;
    width: 20px;
    text-align: center;
  }

  .gh-tab i {
    font-size: 20px;
  }

  .gh-iconbtn i {
    font-size: 19px;
  }

  .gh-hd-join i {
    font-size: 15px;
  }

  .gh-sb-col i {
    font-size: 15px;
  }

  .gh-mc i {
    font-size: 20px;
  }
}
