html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: medium;
}

body {
  background-color: $background;
  color: $text-main;
}

.turbo-progress-bar {
  background-color: $primary;
}

.text-dimmed {
  color: $text-dimmed;
}

.text-more-dimmed {
  color: $text-more-dimmed;
}

.btn-primary {
  color: $text-dark;
}

.btn-secondary {
  color: $text-main;
  background-color: $background-light;
  border: solid 1px $secondary;

  &:hover {
    color: $text-main;
    background-color: $background-light-hover;
  }
}

.btn-flat {
  color: $text-main;

  &:hover {
    background-color: $background-light-hover;
    color: $text-main;
  }
}

.btn-flat-danger {
  @extend .text-danger;

  &:hover {
    background-color: $background-light-hover !important;
    @extend .text-danger;
  }
}

.alert-success {
  color: $success-alert-color;
  background-color: $success-alert-bg;
  border: 1px solid $success-alert-color;
}

.alert-danger {
  color: $danger-alert-color;
  background-color: $danger-alert-bg;
  border: 1px solid $danger-alert-color;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-card {
  background-color: $background;
  border: 2px solid $primary;
  border-radius: 10px;
  width: 75%;
  color: $text-main;
}

.action-container-over-link {
  @extend .position-relative;
  z-index: 2;
}
