.sidebar {
  background: linear-gradient(180deg, $secondary-darker 0%, $background 100%);
  border: 2px solid transparent;
  background-image:
    linear-gradient(180deg, $secondary-darker 0%, $background 100%),
    linear-gradient(0, $secondary 0%, $secondary-darker 100%);

  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.sidebar-full-desktop {
  width: 250px;
  min-width: 250px;
  flex-shrink: 0;
}

.sidebar-collapsed-desktop {
  width: 60px;
  min-width: 60px;
  flex-shrink: 0;
}

.sidebar-idle-btn {
  background-color: $background-light;
  color: $text-main;
  text-decoration: none;
  border: solid 1px $secondary;

  &:hover {
    background-color: $background-light-hover;
  }
}

.sidebar-separator {
  border-bottom: 2px solid $secondary;
}
