@import "variables";

.dark-page {
  padding: 1.5rem 2rem;

  .table {
    thead th {
      border-bottom-color: $secondary;
      font-weight: 600;
    }

    tbody tr {
      border-bottom-color: $background-light;

      &:hover td {
        background-color: $background-light;
        color: $text-main;
      }
    }

    td, th {
      background-color: transparent;
      border-color: $background-light;
      color: $text-main;
    }
  }
}
