// Figma design tokens
$color-background: #302b28;
$color-background-light: #4a433f;
$color-background-light-hover: #685f5a;
$color-secondary: #88796f;
$color-text: #ebebeb;
$color-text-dimmed: #b1b1b1;
$color-text-more-dimmed: #848484;
$color-primary: #f77c00;
$color-primary-hover: #ffa143;
$color-danger: #dc3545;
$color-danger-hover: #bf2f3d;
