// other
$primary-hover: #FFA143;
$secondary-darker: #4A413B;
$background: #302B28;
$background-light: #4A433F;
$background-light-hover: #685F5A;
$text-main: #EBEBEB;
$text-dimmed: #B1B1B1;
$text-more-dimmed: #848484;
$text-dark: #2A2A2A;
$success-alert-color: #74cc84;
$success-alert-bg: #091B05;

// bootstrap overrides
$primary: #F77C00;
$secondary: #88796F;
$secondary-light: #ac9a8e;
$dropdown-border-color: $secondary;
$danger: #ff4343;

$dropdown-bg: $background-light;
$dropdown-link-hover-bg: transparent;
$dropdown-color: $text-main;

$btn-close-color: $text-main;
